@model List<Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List Of Teachers";
}

<h2>List Of Teachers</h2>
<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
    </thead>
    @foreach (var teacher in Model)
    {
        <tr>
            <td>
                <a href="Show/@teacher.TeacherId"> @teacher.TeacherId</a>
            </td>
            <td>
                @teacher.TeacherFName @teacher.TeacherLName
            </td>

        </tr>
    }

</table>


